    <!-- What is this -->
    <h2>Chaos Simulator</h2>
    <p>Example Chaos/Failure Injection application written in Angular and .NET Core. 
      <a (click)="showMoreHelp=true" *ngIf="!showMoreHelp">More</a>
      <a (click)="showMoreHelp=false" *ngIf="showMoreHelp">Less</a>
    </p>
    
    <p>&nbsp;</p>

    <p>
     <strong>Links and community support:</strong>
    </p>

    <p>
      <a *ngIf="discordUrl" [href]="discordUrl" class="p-5">Discord</a>
      <a *ngIf="gitHubUrl" [href]="gitHubUrl" class="p-5">Github</a>
    </p>

    <div *ngIf="showMoreHelp">
      <h3>What is this?</h3>
      <p>This is a simple Angular/ASP.NET Core application that answers the question "What's the point?". It allows you to inject/eject failures into an application and see how those failures affect the telemetry that is generated. It is already preconfigured with an OpenTelemetry exporter so you don't need to change any code or enter any API keys.</p>

      <h3>What this is not</h3>
      <p>This simple application is not meant to exhaustively show all the capabilities OpenTelemetry. If you are looking for that functionality, check out the <a href="https://github.com/open-telemetry/opentelemetry-demo" target="github">OpenTelemetry demo</a>.</p>

      <h3>Recommended Audience</h3>
      <p>Those interested in but not having much epxerience with OpenTelemetry.</p>
      <p>Those not wanting or having the time to configure or run a full sample application locally or otherwise.</p>
      <p>Those wanting to see how a happy/broken path are showing an APM tool.</p>

      <h3>What is sandbox?</h3>
      <p>When this application is deployed, it has a configured OpenTelemetry exporter. Sandboxing allows users to conduct their own experiments independently without affecting each other.</p>

      <h3>Find out more</h3>
      <p>Check out the <a href="https://github.com/ImmersiveFusion/if-opentelemetry-chaos-simulator-sample#readme" target="github">full README</a> on GitHub.</p>
    </div>



    <!-- Interactive Network Diagram -->
    <app-network-diagram
      [resources]="resources"
      (connectionToggle)="toggle($event)"
      (executeFlow)="execute($event)"
      (logMessage)="terminalLog($event)">
    </app-network-diagram>

    <!-- Visualize Section -->
    <h2>Visualize</h2>
    <p>See the results of the induced chaos / failure injection.</p>

    <p>&nbsp;</p>
    
    <h3>Basic: Terminal:</h3>
    <p>View a very basic representation of the application state in the terminal below or DevTools (of your browser)</p>

    
    <div>
      <div class="card-container">
       <a class="card card-small" (click)="copySandboxIdToClipboard()">Copy Sandbox ID</a>
       <a class="card card-small" (click)="clearTerminal()">Clear Terminal</a>
       <a class="card card-small" (click)="regenerateSandbox()">Regenerate Sandbox</a>
   </div>


    <!-- Terminal -->
    <div class="terminal">
      <pre>sandbox-id: {{sandboxId}}</pre>

      <pre>Resource circuits:</pre>
      <pre *ngFor="let resourceKey of getResourceKeys()"> isOpen({{resourceKey}}) => {{resources[resourceKey]}}</pre>
      <pre *ngFor="let line of output" [innerHTML]="line | rn2br"></pre>

    </div>

    <p>&nbsp;</p>

    <h3>Detailed: Application Peformance Monitoring (and Management):</h3>
    <p>Get a deep presentation of the application state that is significantly more detailed and actioanlable than the terminal above or DevTools (of your browser). Be sure to check out the log view for trace details.</p>

    <div class="card-container">
      <p *ngIf="newData" class="new-data">New data should be available in the demo grid within 30 seconds! Click on Visualize in APM</p>
    </div>

    <div class="card-container">
      <p *ngIf="requiresAccountToVisualize" class="requires-account">You will need to create an account to visualize the telemetry.</p>
    </div>

    <div class="card-container">
     


      <a class="card highlight-card" target="_blank" rel="noopener" (click)="visualize()">
        Visualize in APM
      </a>
      <a class="card highlight-card" target="_blank" rel="noopener" (click)="startSubscription()">
        Get an APM Subscription
      </a>
    </div>

    <h2>Next Steps</h2>

    <p>Clone the code for this sandbox, run locally or contribute.</p>

    <div class="card-container">
    
      <a class="card card-small" target="_blank" rel="noopener" (click)="clone()">
        View on GitHub
      </a>
     
    </div>

  </div>


